body {
	font-size: 12px;
	font-family: Arial, sans-serif;
	min-height:100%;
	display:flex;
	flex-direction:column;
	overflow:hidden;
}

#login_body {
	transform: translateY(50%) !important;
	background-color: #FCFCBC;
}

li {
	display: inline !important;
	padding: 20px;
}

.main-div {
	width: 100vw;
	height: 90vh;
	display:flex;
	background-color: #FCFCBC;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.header-div {
	font-size: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFB95F;
	height: 10vh;
	padding: 0 10px;
	
}

* {
	margin: 0;
	padding: 0;
}

.btn-big {
	font-family: Arial, sans-serif;
	border: none;
	outline: none;
	padding: 0.5rem 1rem;
	background-color: #9C3B03;
	color: #fff;
	cursor: pointer;
	border-radius: 10px;
	font-size: 1.5em;
}

.employee-info-div {
	font-size: 17px;
	font-weight: bold;
	display: flex;
	align-items: center;
	border: 5px ridge #9C3B03;
	border-radius: 5px;
	padding: 10px;
}

.employee-credentials-div {
	margin-left: 0.5em;
}

.employee-div {
	font-size: 15px;
	font-weight: bold;
}

.employee-timesheet {
	display: flex;
	align-items: center;
	margin: 3em 0 3em 0;
}

.employee-create-timesheet {
	display: flex;
	align-items: center;
	margin: 3em 0 3em 0;
}

.employee-list {
	display: flex;
	align-items: center;
	margin: 3em 0 3em 0;
}

.employee-change-password {
	display: flex;
	align-items: center;
	margin: 3em 0 3em 0;
}

.employee-create-employee {
	display: flex;
	align-items: center;
	margin: 3em 0 3em 0;
}

ul {
	list-style-type: none;
}

ul li {
	margin: 25px 0;
	color: #9C3B03;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 90%;
	height: 100%;
}

.create-employee-div {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 90vh;
}

.form-div {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.employee-input-div {
	min-height: 32.5vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
}

.input-employee {
	background-color: #9C3B03;
	color: white;
	outline: none;
	border: none;
	border-radius: 5px;
	height: 22.5px;
	padding-left: 0.5rem;
}

::placeholder {
  color: white;
  opacity: 1;
}

.create-employee-btn-div {
	height: 15px;
}

.btn-small {
	font-family: Arial, sans-serif;
	font-size: 1em;
	border: none;
	outline: none;
	padding: 0.25rem 0.5rem;
	background-color: #9C3B03;
	color: #fff;
	cursor: pointer;
	border-radius: 10px;
}

.login-page-heading {
	position: relative;
	bottom: 2vw;
}

.login-form-div {
	height: 40vh;
	width: 30vw;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 60%;
}

.errorMessages {
	color:red;
	font-weight: bold;
	font-size: 1.5em;
	display: block;
}
.login-div {
	display: flex;
	flex-direction: column;
}

.login-input-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3vmin;
	width: 12vmax;
	font-size: 1.5em;
}

.login-input {
	height: 2vmin;
	border-radius: 10px;
}

.timesheet-form {
	height: 90%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.timesheet-inner-div {
	width: 80%;
	display: flex;
	flex-direction: column;
	height: 3%;
	margin-bottom: 1rem;
}

.timesheet-inner-input-div {
	height: 3vw;
	width: 15vw;
	font-size: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3em;
}

.timesheet-inner-input {
	flex: 1;
	background-color: #9C3B03;
	color: white;
	outline: none;
	border: none;
	border-radius: 5px;
	height: 25px;
	padding-left: 0.5em;
	margin-left: 0.5em;
	
}

.table-div {
	height: 50%;
}

.table {
	border-spacing: 0;
}

.employee-list-table {
	border-spacing: 0;
}

.table-header {
	width: 4vw;
	padding: 5px;
	border: 1px solid black;
}

.table-row td {
	width: 3vw;
	padding: 5px;
	border: 1px solid black;
}

.table-row td input {
	max-width: 4vw;
}

.total-hours, .week-number, .timesheet-weekend-input {
	font-size: 15px;
}
.timesheets-div {
	font-size: 12px;
	height: 90%;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	padding: 1vmin;
}

.timesheet-div {
	width: 25%;
	height: 10vh;
	display: flex;
	border: 2px solid black;
	border-radius: 5px;
}

.timesheet-data {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border: solid black;
	border-width: 0 1px 0 0;
}

.timesheet-buttons-div {
	width: 30%;
	height: 100%;
}

.timesheet-buttons {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.timesheet-buttons .btn-big {
	width: 70%;
}

.password-input {
	background-color: #9C3B03;
	color: white;
	outline: none;
	border: none;
	border-radius: 5px;
	height: 22.5px;
	padding-left:0.5em;
}

#createNewTimesheet {
	margin-left: 10rem;
}

.btn-create {
	font-family: Arial, sans-serif;
	border: none;
	outline: none;
	padding: 0.5rem 1rem;
	background-color: #9C3B03;
	color: #fff;
	cursor: pointer;
	border-radius: 10px;
	font-size: 1.5em;
	margin-left: 1rem;
}

.timesheet-form {
	margin-top: 1rem;
}

.employee-list-div {
	height:70vh;
}

#employee-list-h2 {
	margin-bottom: 2rem;
}

.username-input {
	background-color: #9C3B03;
	color: white;
	outline: none;
	border: none;
	border-radius: 5px;
	height: 22.5px;
	padding-left: 0.5em;
}

.username-input-div {
	display: flex;
	align-items: center;
}

.username-label {
	font-size: 17px;
	margin-right: 1em;
}

.password-input-div {
	display: flex;
	align-items: center;
}

.password-label {
	font-size: 17px;
	margin-right: 1em;
}

